body
{
    overflow-x: hidden;
}


.Milieu
{
    color: black;
}
th,td
{
    border-radius: 25px;
    border: solid black 3px;
    background-color: white;
}
tr
{
    border-radius: 25px;
    border: solid black 3px;
    min-height: 50%;
}
.Milieu
{
    border: none;
    align-content: center;
    align-items: center;
    text-align: center;
    vertical-align: top;
}
.carteMaison
{
    margin: 2%;
    padding-top: 2%;
}
.monopoly
{
    border-radius: 25px;
    background-color: black;
    border-spacing: 1px;
}
.pion
{
    height: 3em;
    width: 3em;
}
.donneesJoueurs
{
    display: inline-block;
    margin-right: 5px;
}

.bleu
{
    background-color: #1ab3fe;
}
.rouge
{
    background-color: #EE0000;
}

.rose
{
    background-color: #CC33CC;
}

.violet
{
    background-color: #660099;
    color: white;
}

.orange
{
    background-color: #FF6633;
}

.jaune
{
    background-color: #FFCC33;
}

.vert
{
    background-color: #3F745A;
    color: white;
}

.BLEU
{
    background-color: #08209B;
    color: #FFFFFF;
}
.buyMaison
{
    display: inline-block;
    margin-left: 2%;
}
div.buyMaison > table
{
    border: 1px #1a1e21;
}